* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: #f2efee;
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-style: normal;
  p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
}
.banniere {
  background-color: white;
  text-align: end;
  align-items: center;
  display: flex;
  nav {
    text-align: end;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
  }
  li {
    padding: 10px;
    display: flex;
  }
}

.iconic {
  background-color: #46352a;
  display: flex;
  font-size: 20px;
  font-weight: lighter;

  img {
    display: flex;
    justify-content: left;
    width: 50%;
  }
  h3 {
    font-size: 20px;
    font-weight: lighter;
  }
  div {
    display: flex;
    width: 50%;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.card {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  div {
    width: 20%;
    padding: 10px;
    border: 1px solid black;
    font-size: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 5px 5px 5px rgba(193, 193, 193, 0.904);

    img {
      width: 100%;
      height: 230px;
      border-radius: 5px;
    }

    h5:first-of-type {
      text-align: left;
      font-weight: bold;
      justify-content: left;
      font-size: 15px;
      color: black;
    }
    h5 {
      text-align: left;
      font-weight: bold;
      justify-content: left;
      font-size: 15px;
      color: #4a6743;
    }
    h6 {
      text-align: left;
      font-size: 10px;
      font-weight: 300;
      margin: 10px 0px;
    }
  }
  button {
    background-color: #4a6743;
    border-radius: 5px;
    color: #f2efee;
    font-size: 10px;
    padding: 5px 3px;
    text-align: left;
  }
}

main h4 {
  margin: 50px;
  text-align: center;
  font-size: 25px;
}
main p {
  font-size: 12px;
  text-align: center;
}

#vert {
  background-color: #4a6743;
  color: white;
  text-align: center;
  padding: 40px;
  margin: 30px 0px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    flex-direction: row;
  }
  section {
    display: flex;
  }
}

.carded {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 5px 5px 5px rgba(193, 193, 193, 0.904);
  justify-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  button {
    /* width: 10%; */
    align-self: center;
    background-color: #4a6743;
    border-radius: 5px;
    color: #f2efee;
    /* font-size: 10px; */
    padding: 10px 15px;
    margin-top: 20px;
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
  }
}

input.formulaire {
  width: 100%;
  height: 20px;
  border-radius: 20px;
}

form.formulaire.carded {
  text-align: center;
}

.formRow1 {
  display: flex;
  gap: 40px;
  * {
    width: -webkit-fill-available;
  }
}
.placeCentre {
  justify-items: center;
  margin-bottom: 30px;
}

.bas {
  background-color: #46352a;
  display: flex;
  align-content: center;
  flex-direction: column;
  color: #f2efee;
  justify-content: center;

  p {
    /* justify-content: center; */
    text-align: center;
    padding-inline: 20px;
  }
}

.footerCenter {
  justify-items: center;
  padding-block: 15px;
}

.alignement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  h6 {
    width: 60%;
    text-align: -webkit-left;
    align-items: flex-start;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
  p {
    width: 60%;
    text-align: -webkit-left;
  }
}
.fond {
  display: flex;
  flex-direction: column;
  background-color: #fbdfcc;
}

.Alignement {
  display: flex;
  flex-direction: row;
  margin: 30px 50px;
  align-items: center;
  img {
    width: 25%;
  }
}

div.alignement {
  place-items: start;
}

.fin {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  img {
    width: 100%;
    height: 230px;
    border-radius: 5px;
  }
  section {
    display: flex;
    width: 75%;
    align-items: center;
  }
  div:first-of-type {
    width: 50%;
    margin-block: 15px;
    border: 2px solid black;
  }
  p {
    margin-inline: 15px;
    font-weight: bold;
  }
  div {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    font-size: 15px;

    img {
      width: 100%;
      height: 230px;
      border-radius: 5px;
    }
  }
}
